@font-face {
	font-family: 'PokemonGB';
	src: url('./fonts/Pokemon_GB.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'PokemonGB', sans-serif;
	background:#e72525;
	color: #666;
}

.header {
	margin: 30px 0;
	text-align: center;
}

.content {
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;

	.menu-select {
		width: 25%;
		background: #f2f2f2;
		padding: 1%;
		border-radius: 5px;
		margin-right: 3%;
		position: relative;
		height: 280px;
    overflow-y: scroll;

		.pokemon-item {
			padding: 9px 5px 5px;
			margin: 2px 0;

			&:hover {
				background: #CCC;
				cursor: pointer;
			}
			&.active {
				background: #CCC;
			}
		}
	}
	.pokedex-details {
		width: 68%;
		background: #f2f2f2;
		padding: 1%;
		border-radius: 5px;

		.pokemon-details {
			display: flex;
			flex-direction: row;

			.sprite {
				width: 270px;
				height: 270px;
				flex-grow:1;
			}
			.more-info {
				padding-top: 50px;
				flex-grow:1;
			}
			span {
				flex-grow: 1;
			}

			.back-button {
				display: none;
			}
		}
	}
}
@media (max-width: 700px) {
	.content {
		display: block;

		.menu-select {
			width: 94%;
			margin: 0;
			border-radius: 0;
		}

		.pokedex-details {
			position: fixed;
	    width: 94%;
	    top: 90px;
			height: auto;
	    min-height: 290px;

			.pokemon-details {
				flex-direction: column;

				.sprite {
					width: 50%;
					margin: 0 25%;
					height: auto;
					flex-grow:1;
				}

				.more-info {
					padding: 0;
					margin: 0 10px;
				}

				.back-button {
					display: block;
					position: absolute;
					top: 10px;
					cursor: pointer;
				}

				.pokemon-details-types {
					display: flex;
				}
			}
		}
	}
}
